body {
    font-family: 'Poppins', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
  }
  
  .hero_area {
    height: calc(100vh - 30px);
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #1a2e35), color-stop(55%, #1cbbb4));
    background: linear-gradient(to right, #1a2e35 55%, #1cbbb4 55%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  
  .sub_page .hero_area {
    height: auto;
    background: none;
    background-color: #1a2e35;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section {
    overflow-x: hidden;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .header_section .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header_section .user_option a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header_section .user_option a img {
    min-width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 10px 15px;
    color: #ffffff;
    text-align: center;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .custom_nav-container form {
    padding-top: 7px;
  }
  
  .navbar-brand {
    margin-right: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand img {
    width: 35px;
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
  }
  
  .login_btn-container {
    padding-top: 30px;
  }
  
  .login_btn-container a {
    color: #1cbbb4;
    text-transform: uppercase;
  }
  
  /*end header section*/
  /* slider section */
  .slider_section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  
  .slider_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .slider_section .row > div {
    position: unset;
  }
  
  .slider_section .detail-box h1 {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .slider_section .detail-box p {
    color: #ffffff;
    margin-top: 15px;
  }
  
  .slider_section .detail-box .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 45px -5px 0 -5px;
  }
  
  .slider_section .detail-box .btn-box a {
    text-align: center;
    width: 165px;
    font-size: 15px;
    margin: 5px;
  }
  
  .slider_section .detail-box .btn-box .btn-1 {
    display: inline-block;
    padding: 10px 0;
    background-color: #ff4f5a;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 0;
  }
  
  .slider_section .detail-box .btn-box .btn-1:hover {
    background-color: transparent;
    border-color: #ff4f5a;
    color: #ff4f5a;
  }
  
  .slider_section .detail-box .btn-box .btn-2 {
    display: inline-block;
    padding: 10px 0;
    background-color: #ffffff;
    color: #252525;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 0;
  }
  
  .slider_section .detail-box .btn-box .btn-2:hover {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .slider_section .img-container .img-box img {
    width: 100%;
  }
  
  .slider_section #carouselExampleIndicators {
    position: unset;
    width: 100%;
  }
  
  .slider_section .carousel_btn-container {
    width: 120px;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 8.5%;
    z-index: 999;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  
  
  
  .slider_section .carousel_btn-container .carousel-control-prev {
    background-image: url(../images/prev.png);
  }
  
  .slider_section .carousel_btn-container .carousel-control-next {
    background-image: url(../images/next.png);
  }
  
  
 
 
  
  