input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}



/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: #1cbbb4;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: #1a2e35;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/* end */
body {
    font-family: monospace;
    background-color: #1a2e35;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1cbbb4;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #1a2e35;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    /* Add space between labels */
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="password"],
select,
button {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    /* Add space between form elements */
}

button {
    background-color: #1a2e35;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 400px;
}

button:hover {
    background-color: #2e4d5a;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 50px auto;
    }

    input[type="text"],
    input[type="date"],
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    select,
    button {
        width: 100%;
    }
}